<div class="container">
  <!-- new user stuff -->
  <div class="container">
    <div class="col-sm-10">
      <h2>Create new user account</h2>
      
      <p class="lead">Enter the user's information below.</p>
      <form class="form-horizontal" action="/create_account" method="POST" role="form">

        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Name</label>
          <div class="col-sm-6">
            <input class="form-control" name="name">
          </div>
          <p class="help-block">Enter the user's name.</p>
        </div>
        
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Email</label>
          <div class="col-sm-6">
            <input class="form-control" name="email">
          </div>
          <p class="help-block">Enter the user's email.</p>
        </div>
        
        <div class="form-group">
          <label for="name" class="col-sm-2 control-label">Password</label>
          <div class="col-sm-6">
            <input class="form-control" type= "hidden" name="password" value= "<%= ('a'..'z').to_a.shuffle[0,8 + rand(4)].join %>" >
          </div>
          <p class="help-block">The user's password is randomly generated.</p>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-8">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </tr>
<!-- Designate Admins -->
  <tr>
    <div class="container">
      <div class="col-md-10">
      <h2>Maintain user admin privileges</h2>
      <div class ="table">
        <tbody>
        <% @users.each do |u| %>
          <tr>
            <td><%= u.name %></td>
            <td>
            <form method="post" name="updateadmin" id="updateadmin" action="/admin/manage">
              <input type="hidden" name="_method" value="PATCH">
              <input type="hidden" name="id" value="<%= u.id %>">
              <input type="hidden" name="action" value="<%= if u.admin; 'disable'; else; 'enable'; end %>">
              <button name="submit" type="submit" id="submit"><%= if u.admin; 'Disable'; else; 'Enable'; end %></button>
            </form>
            </td>
          </tr>
        <% end %>
        </tbody>
      </tdiv>
    </div>
  </div>
</div>