


<div class="container">
  <div class="row">
    <div class="col-md-3" id="rightCol">
      <label>Need some help getting started?</label>
      <label>Get a Machine Translation</label>
      <h6>Supported languages include English, Russian, Polish, Ukrainian, German, French, Italian, Bulgarian, Czech, Turkish, Romanian and BCS.</h6>
       <form action="/translate" method="POST" role="form">
       <textarea class="form-control" name ="text" rows="3"></textarea>
       <h6> Original language will be automatically detected.</h6>
       
          <label>Target Language</label>
      <select class="form-control" name="lang">
        <option value="en">English</option>
        <option value="ru">Russian</option>
        <option value="pl">Polish</option>
        <option value="uk">Ukrainian</option>
        <option value="de">German</option>
        <option value="fr">French</option>
        <option value="es">Spanish</option>
        <option value="it">Italian</option>
        <option value="bg">Bulgarian</option>
        <option value="cs">Czech</option>
        <option value="tr">Turkish</option>
        <option value="ro">Romanian</option>
        <option value="sr">BCS</option>
      </select>
       <button type= "submit" class="btn">Translate</button>
     </form>
   </div>

   <% if @translation %>
    <% original = @original_text %>
    <% translated=  @translation %>  
  <%else %>
    <% original = "" %>
    <% translated=  "" %>  
  <% end %>

  <title> New Item </title>
  <div class='col-md-8'>
    <form action="/item" method="POST" role="form">
     <div class ="form-group">
      <label>Topic:</label>
      <input name="title"></input>
    </div>
    <div class ="form-group">
      <label>Original Text Language</label>
      <select class="form-control" name="original_language">
        <% LANGUAGES.each do |language, abb| %>
        <option value='<%=abb%>'><%=language%></option>
        <%end%>
      </select>
    </div>
    <div class ="form-group">
      <label>Original Text</label>
      <textarea class="form-control" name ="original_text" rows="3"><%=original %></textarea>
    </div>
    <div class ="form-group">
      <label>Translated Text Language</label>
      <select class="form-control" name="translated_language">
        <% LANGUAGES.each do |language, abb| %>
        <option value='<%=abb%>'><%=language%></option>
        <%end%>
      </select>
    </div>
    <div class ="form-group">
      <label>Translated Text</label>
      <textarea class="form-control" rows="3" name="translated_text"><%=translated %></textarea>
    </div>
    <div class ="form-group">
      <label>Comments</label>
      <textarea class="form-control" rows="3" name="user_content"></textarea>
    </div>
    <div class ="form-group">
      <label>Genre</label>
      <select class="form-control" name="genre">
        <% GENRES.each do |genre| %>
        <option><%=genre%></option>
        <%end%>
      </select>
    </div>

    <button type= "submit" class="btn">Submit</button>
  </form>
</div>

